/* Styling the Body element i.e. Color, Font, Alignment */
body {
	background-color: #DCDCDC;
	font-family: Verdana;
	text-align: center;
	margin: 0;
	padding: 0;
}

.datetime {
	vertical-align: top;
	text-align: left;
	font-family: inherit;
	font-size: 10px;
	padding-top: 0;
	padding-bottom: 0;
}

button {
	background-color: #EFEFEF;
	border: 1px solid #777;
	border-radius: 1px;
	font-family: inherit;
	font-size: 15px;
	display: block;
	width: 250px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

footer {
	text-align: center;
	color: #fff;
	padding-top: 450px;
}
